@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__numbers/intro__numbers.css);

.intro {
    max-width: 984px;
    height: auto;
    margin: auto;
    padding-top: 95px;
}


@media (max-width: 1024px) {
    .intro {
      padding: 92px 48px 0;
    }
  }
  
  @media (max-width: 768px) {
    .intro {
      padding: 88px 24px 0;
    }
  }
  
  @media (max-width: 320px) {
    .intro {
      padding: 64px 16px 0;
    }
  }